@import "tailwindcss";

:root {
	--background: #f5f5f4;
	--foreground: #1d293d;
	--container: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0c0a09;
		--foreground: #f1f5f9;
		--container: #1c1917;
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-container: color-mix(in oklab, var(--container) 40%, transparent);

	--color-container-raised: color-mix(
		in srgb,
		var(--container) 80%,
		var(--background) 20%
	);
	--color-container-lowered: color-mix(
		in srgb,
		var(--container) 60%,
		black 40%
	);

	--color-edge: color-mix(
		in srgb,
		var(--color-container-raised) 95%,
		white 5%
	);
	--color-edge-highlight: color-mix(
		in srgb,
		var(--color-container-raised) 90%,
		white 10%
	);

	--color-primary: var(--foreground);
	--color-secondary: color-mix(
		in srgb,
		var(--foreground) 70%,
		var(--background) 30%
	);
	--color-tertiary: color-mix(
		in srgb,
		var(--foreground) 60%,
		var(--background) 40%
	);
	--color-title: color-mix(
		in srgb,
		var(--foreground) 40%,
		var(--background) 60%
	);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	container: var(--container);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
